<h1>Existing Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.email %>&nbsp;</td>
        <td><%= booking.formatted_time %>&nbsp;</td>
        <td>
          <% if current_user == booking.user %>
            <%= link_to 'Cancel Reservation', booking, method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class: "btn btn-danger btn-xs" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reserve your tee-off time', new_booking_path, class: "btn btn-success" %>
